.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1.2em;
    background:#1F9BCF;
    color: white;
    text-align: center;
    top: -1em;
    right: 3.5em;
}

*:focus {
    outline: none;
}

a{
    text-decoration: none;
    color:#343a40;

    &.active {
        color: orange;
    }
}

.logo {
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    a {
        color: #000 !important;
    }
}

@media only screen and (max-width: 768px) {
    a {
        color: #000 !important;
    }
    .cart-no {
        min-height: 22px;
        min-width: 22px;
        top: -0.8em;
        right: 2em;
    }
}

@media only screen and (max-width: 425px) {
    .cart-no {
        min-height: 22px;
        min-width: 22px;
        top: -0.9em;
        right: 1em;
    }
}

@media only screen and (max-width: 375px) {
    .cart-no {
        min-height: 18px;
        min-width: 18px;
        font-size: 1em;
        top: -0.8em;
        right: 1em;
    }
}